html, body {
  height: 100%;
  background: #F0F0F0;
}

/* The overall layout that contains the menu and the content area. */

#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}
#layout.active #menu {
  left: 180px;
  width: 180px;
}
#layout.active .menu-toggle {
  left: 180px;
}

/* Dynamic button to show/hide the menu. */

.menu-toggle {
  display: inline-block;
  z-index: 10;
  background: #000000;
  width: 1em;
  padding: 0 .5em;
  margin-right: 0.25em;
}
.menu-toggle:hover {
  background: #E6E6E6;
}
.menu-toggle div {
  height: 3px;
  background: white;
  margin: 6px 0;
}

/* Header. */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  font-size: 2em;
  padding: .25em;
  white-space: nowrap;
  color: #E6E6E6;
  background-color: #675F6B;
}

#github {
  position: fixed;
  right: 0;
  font-size: .75em;
  padding: .25em;
  text-decoration: none;
  color: #E6E6E6;
  background-color: #675F6B;
}
#github:hover {
  color: #675F6B;
  background-color: #E6E6E6;
}

/* The menu that appears on the left side of the page. */

#menu {
  margin-left: -180px;
  width: 180px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  overflow-y: auto;
}
#menu .pure-button {
  width: 100%;
  font-size: 1.5em;
}
#menu .pure-menu-list {
  border: none;
  padding-left: .5em;
  padding-right: .5em;
  list-style-type: none;
  background: transparent;
}
#menu .pure-menu p {
  margin-top: .5em;
  margin-bottom: .25em;
}
#no-matching-options {
  display: none;
}
#no-matching-options.active {
  display: block;
}
#animation-options {
  display: none;
}
#animation-options.active {
  display: block;
}
.selector {
  border: 2px solid #999999;
  display: inline-block;
  border-radius: 1em;
  overflow: hidden;
  width: 100%
}
.selector input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}
.selector label {
  background-color: #E6E6E6;
  color: #000000;
  display: inline-block;
  cursor: pointer;
  padding: .5em .67em;
  width: 100%
}
.selector label:hover {
  background: #AAAAAA;
}
.selector label.disable {
  color: #888888;
  cursor: default;
}
.selector input[type=radio]:checked + label {
  color: #E6E6E6;
  background-color: #675F6B;
}

/* The status display list area. */

#status-updates {
  width: 220px;
  margin-top: 3.25em;
  margin-bottom: 2em;
  position: fixed;
  top: 0;
  /*left: 180px;*/
  bottom: 0;
  z-index: 3;
  overflow-y: auto;
}
#status-updates-list {
  border: none;
  padding-left: .5em;
  list-style-type: none;
  background: transparent;
  overflow-y: auto;
}
#status-updates-list li {
  padding: 6px 10px;
  background: #fff;
  max-width: 400px;
  border-radius: 20px;
  margin: 0 0 .5em 0;
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}
#status-updates-list h4 {
  margin: .5em auto;
}
#status-updates-list p {
  margin: .2em auto;
  line-height: 1.5em;
  font-family: Courier, serif;
  white-space: pre-wrap;
}

/* The main content area. */

#main {
  overflow: hidden;
  margin-top: 3em;
  margin-left: 200px;
}

/* Footer. */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
  font-size: 1.25em;
  padding: 0.25em;
  white-space: nowrap;
  color: #E6E6E6;
  background-color: #675F6B;
}

/* Animate layout changes. */

#layout,
#menu,
#status-updates,
.menu-toggle {
  transition: all 0.2s ease-out;
}

/* Media Queries to control when the menu is shown. */

@media (min-width: 52em) {

  #layout {
    padding-left: 180px;
    left: 0;
  }

  #menu {
    left: 180px;
  }

  .menu-toggle {
    position: fixed;
    left: 180px;
    display: none;
  }

  #layout.active .menu-toggle {
    left: 180px;
  }

}

@media (max-width: 52em) {

  #layout.active {
    position: relative;
    left: 180px;
  }

  header a {
    display: none;
  }

  footer {
    display: none;
  }

}

/* The overlay for blocking UI interaction while processing. */

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  cursor: default;
}
#overlay.active {
  display: block;
}
#overlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3em;
  color: white;
  transform: translate(-50%,-50%);
}
