html, body {
  height: 100%;
}

.home-menu {
  text-align: left;
}

.home-menu ul {
  float: right;
}

.content-wrapper {
  height: 100%;
}

.content {
  height: 100%;
}

#puzzle-selection {
  position: fixed;
  overflow: hidden;
  width: 500px;
  height: 100%;
  padding-top: 100px;
  top: 0;
  left: 0;
  z-index: 2;
}

#puzzle-selection ul {
  list-style-type: none;
}

#puzzle-selection button {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 32px;
}
